# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
.pnp/
.pnp.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Editor folders
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
